# Firebase Configuration
SERVICE_ACCOUNT_PATH=/path/to/your/service-account.json
PROJECT_ID=valecreative-prod

# Admin Claim Management
# Comma-separated list of emails/UIDs to grant admin privileges
USERS_TO_SET_ADMIN=

# Comma-separated list of emails/UIDs to remove admin privileges  
USERS_TO_REMOVE_ADMIN=

# Early Adopter Claim Management
USERS_TO_SET_EARLYADOPTER=

USERS_TO_REMOVE_EARLYADOPTER=